language: cpp

sudo: false

os:
  - osx

env:
  global:
    - LUAROCKS=2.4.1
  matrix:
    - LUA=5.1.5
    - LUA=5.2.4
    - LUA=5.3.3
    - LUA=luajit-2.0.4
    - LUA=luajit-2.1-dev

branches:
  only:
    - master

before_install:
  # TODO: move these commands to a online script for easy reuse.
  - git clone --depth 1 https://github.com/cehoffman/luaenv.git ~/.luaenv
  - git clone --depth 1 https://github.com/cehoffman/lua-build.git ~/.luaenv/plugins/lua-build
  - git clone --depth 1 https://github.com/xpol/luaenv-luarocks.git ~/.luaenv/plugins/luaenv-luarocks
  - echo 'export PATH="$HOME/.luaenv/bin:$PATH"' >> ~/.bash_profile
  - echo 'eval "$(luaenv init -)"' >> ~/.bash_profile
  - source ~/.bash_profile
  - luaenv install $LUA
  - luaenv global $LUA
  - luaenv luarocks $LUAROCKS
  - luarocks install luafilesystem
  - luarocks install busted
  - luaenv rehash

install:
  - luarocks make

# Run tests
script:
  - busted

notifications:
  email:
    on_success: change
    on_failure: always
